services:
  db:
    image: mysql
    restart: always
    volumes:
      - db:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ecoindex
      MYSQL_USER: ecoindex
      MYSQL_PASSWORD: ecoindex
      MYSQL_ROOT_PASSWORD: ecoindex
    ports:
      - "3306:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      timeout: 5s
      retries: 10
      interval: 2s
  api:
    build: .
    restart: always
    ports:
      - "8001:8000"
    environment:
      DAILY_LIMIT_PER_HOST: 10 # If set to 0 => no LIMIT
      DATABASE_URL: mysql+aiomysql://ecoindex:ecoindex@db/ecoindex?charset=utf8mb4
      TZ: Europe/Paris
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./screenshots:/code/screenshots
  db-backup:
    container_name: db-backup
    restart: always
    image: tiredofit/db-backup
    links:
     - db
    volumes:
      - dbbackup:/backup
    environment:
      CONTAINER_NAME: db-backup
      DB_HOST: db
      DB_TYPE: mysql
      DB_NAME: ecoindex
      DB_USER: ecoindex
      DB_PASS: ecoindex
      DB_DUMP_FREQ: 1440
      DB_DUMP_BEGIN: 0000
      DB_CLEANUP_TIME: 8640
      COMPRESSION: BZ
      MD5: TRUE

volumes:
  db:
  dbbackup:
