asgiref==3.4.1; python_version >= "3.6"
chromedriver-binary==92.0.4515.107.0; python_version >= "3.8" and python_version < "4.0"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
ecoindex==1.5.0; python_version >= "3.8" and python_version < "4.0"
fastapi-pagination==0.8.3; python_version >= "3.7" and python_version < "4.0"
fastapi==0.68.1; python_version >= "3.6"
greenlet==1.1.1; python_version >= "3" and platform_machine in "x86_64 X86_64 aarch64 AARCH64 ppc64le PPC64LE amd64 AMD64 win32 WIN32" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
h11==0.12.0; python_version >= "3.6"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.8" and python_version < "4.0" and python_full_version < "4.0.0"
python-environ==0.4.54
selenium==3.141.0; python_version >= "3.8" and python_version < "4.0"
sqlalchemy2-stubs==0.0.2a15; python_full_version >= "3.6.1" and python_full_version < "4.0.0" and python_version >= "3.6"
sqlalchemy==1.4.23; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
sqlmodel==0.0.4; python_full_version >= "3.6.1" and python_full_version < "4.0.0"
starlette==0.14.2; python_version >= "3.7" and python_version < "4.0"
typing-extensions==3.10.0.2; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
urllib3==1.26.6; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.8"
uvicorn==0.14.0
